body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #61dafb;
}

input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

li {
  background: #1e1e1e;
  width: 350px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: crimson;
  border: none;
  color: white;
  border-radius: 5px;
}