body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #61dafb;
}

button {
  display: block;

  margin: 15px auto;

  padding: 12px 20px;

  width: 300px;

  border: none;

  border-radius: 8px;

  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}