body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #61dafb;
}

input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.weather-box {
  margin-top: 30px;

  background: #1e1e1e;

  width: 300px;

  margin-left: auto;

  margin-right: auto;

  padding: 20px;

  border-radius: 10px;
}

.weather-box img {
  width: 100px;
}

.weather-box {
  margin-top: 30px;
  background: #1e1e1e;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
}

button {
  margin: 5px;
}